<h2>Add Contact</h2>
<form action="/contact/create" method="post">
  <label for="name">
    Name:
    <input type="text" name="name" value="">
  </label>

  <label for="address">
    Address:
    <input type="text" name="address" value="">
  </label>

  <label for="tel">
    Tel:
    <input type="text" name="tel" value="">
  </label>

  <input type="submit" name="" value="Add Contact">
</form>
